/* General styles */

:root {
    --primary-text-color: #212121;
}

.body {
    font-family: "Roboto", sans-serif;
    background: #FFFFFF;
    color: var(--primary-text-color);
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

/* Header styles */

.header-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.header-list-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.header-list-link:hover, .header-list-link:focus {
    color: #2196F3;
}

.header-mail-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-mail-link:hover, .header-mail-link:focus {
    color: #2196F3
}

.header-tel-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.header-tel-link:hover, .header-tel-link:focus {
    color: #2196F3
}

/* Hero styles */

.hero {
    background: #2F303A;
}

.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    font-family: inherit;
    cursor: pointer;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.main-button-filter {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    font-family: inherit;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.main-button-filter:hover, .main-button-filter:focus {
    background: #2196F3;
}

.hero-hidden-text {
    visibility: hidden;
}

.offer-list-item {
    width: 370px;
    height: 404px;
    left: 215px;
    top: 262px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
}

.offer-name {
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
}

.offer-list {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #757575;
}

.benefits-title {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.benefits-subtitle {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.activities {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.activities-text {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.team {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    background: #F5F4FA;
}

.team-text {
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
}

.team-list-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-name {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
}

.team-job {
    font-size: 16px;
    line-height: 1.187;
    letter-spacing: 0.03em;
    color: #757575;
}

/* Footer styles */

.footer {
    background: #2F303A;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-mail-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-mail-link:hover, .footer-mail-link:focus {
    color: #2196F3
}

.footer-tel-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-tel-link:hover, .footer-tel-link:focus {
    color: #2196F3
}